---
title: Catharina portfolio
---

<div class="wrapper">
  <div class="box grayscale" id="box1" style="background-image: url('images/ruby.png');"></div>
  <div class="box grayscale " id="box2" style="background-image: url('images/sql.png');"></div>
  <div class="box grayscale" id="box3" style="background-image: url('images/rails.jpg');"></div>
<!--   <div class="box" id="box4" style="background-image: url('http://placehold.it/100/100');"></div>
 -->  <div class="box grayscale" id="box5" style="background-image: url('images/HTML5.png');"></div>
  <div class="box grayscale" id="box6" style="background-image: url('images/CSS3.png');"></div>
  <div class="box grayscale" id="box7" style="background-image: url('images/github-logo.png');"></div>
  <div class="box grayscale" id="box8" style="background-image: url('images/git_logo.png');"></div>
 <div class="box grayscale" id="box9" style="background-image: url('images/foto_kitty.jpg');"></div>
  <div class="box grayscale" id="box10" style="background-image: url('images/Heroku.png');"></div>
</div>
